body {
    font-family: Arial, sans-serif;
    background-color: #e1abab;
    background-image: url('assets/bg.jpg'); /* Ganti dengan URL gambar yang diinginkan */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

#game-container {
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 36px;
}

#sentence-display {
    margin: 20px 0;
    font-size: 24px;
}

#options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#next-button {
    margin-top: 20px;
    font-size: 20px;
    background-color: #28a745;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}
